@tailwind base;
*{
    line-height: 1.8;
}
body{
    font-family: 'Poppins', sans-serif;

}
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(195, 196, 198);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(209, 211, 213);
}
h1{
    font-size: 2rem
}
h2{
    font-size: 1.5rem
}
h3{
    font-size: 1.25rem
}
h4{
    font-size: 1rem
}
h5{
    font-size: 0.875rem
}
h6{
    font-size: 0.75rem
}
@media (min-width: 640px) {
    h1{
        font-size: 32px
    }
    h2{
        font-size: 28px
    }
    h3{
        font-size: 24px
    }
    h4{
        font-size: 20px
    }
    h5{
        font-size: 16px
    }
    h6{
        font-size: 14px
    }   
}
@tailwind components;
@tailwind utilities;